.container-abas{
  display: none;
  text-align: center;
}

.container-carregar-matrizes{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  row-gap: 12px;
  padding: 16px;
}

.container-carregar-matrizes div:has(.btn-escolher-matriz) div{
  text-align: center;
  align-content: center;
}

.container-carregar-matrizes button{
  width: 100%;
  padding: 3px 6px;
  font-size: 1.1em;
}

div[id^="resultado"]:not(#resultado-determinante-matriz){
  display: none;
  border: 1px solid black;
  border-collapse: collapse;
}
div[id^="resultado"] div{
  border: 1px solid black;
  align-content: center;
}



.matriz-ocupada{
  display: grid;
  border: 1px solid black !important;
  border-collapse: collapse;
}
.matriz-ocupada div{
  border: 1px solid black;
}

.botao-operacao{
  width: 35%;
  min-width: 200px;
  padding: 4px 8px;
  font-size: 1.3em;
}

.campo-carregar-matriz{
  min-width: 400px;
  min-height: 300px;
  background-color: var(--corPadrao);
  border: 4px dashed gray;
}

.sem-matriz-salva{
  width:100%;
  text-align:center;
  align-content:center;
}

#salvar-personalizado{
  width: 250px;
  font-size: 1.4em;
  display: none;
}