aside{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100vh;
  background-color: #e7e7e7;
  transition: .5s;
}
.item-configuracao{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px 16px;
}

.item-configuracao p{
  width: 80%;
}
.item-configuracao img{
  width: 24px;
  height: 24px;
}
.item-configuracao button{
  width: 100%;
}


aside h1:first-of-type{
  padding: 4px 0px;
  text-align: center;
}

#btn-fechar-aside{
  padding: 4px;
  width: 36px;
  height: 36px;
  font-size: 1.25em;
  font-family: cursive;
  border: 0;
  border-left: 2px solid var(--contrasteBorda);
  border-bottom: 2px solid var(--contrasteBorda);
  border-radius: 0 0 0 8px;
  float: right;
  background: #ffcb9b;
  outline: 0;
}

#btn-fechar-aside:focus{
  border-color: var(--escuroBorda);
  background-color: var(--laranjaBg);
  color: white;
}