#bg-card-atalhos{
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.35);
  backdrop-filter: blur(4px);
  align-content: center;
  justify-items: center;
}
#card-atalhos{
  min-width: 750px;
  max-width: 90vw;
  background-color: white;
  box-shadow: 4px 4px 0px 0px rgb(209, 209, 209);
  border-radius: 12px;
  padding: 32px 16px;
}
#card-atalhos ul li{
  height: 42px;
}
#card-atalhos hr{
  margin: 12px 0px;
}
#container-lista-atalhos{
  max-height: 70vh;
  overflow-y: auto;
}
.button-atalhos,
#card-atalhos button[onclick="toggleAtalhos()"]{
  border: 0;
  box-sizing: content-box;
  font-size: 1.5em;
  min-width: 35px;
  min-height: 35px;
  border-radius: 4px;
  padding: 0;
  border: 2.5px solid gray;
  border-top: 0;
}

#card-atalhos button[onclick="toggleAtalhos()"]{
  border: 2.5px solid gray;
  float: right;
}
#card-atalhos button[onclick="toggleAtalhos()"]:hover{
  background-color: rgb(216, 216, 216) !important
}
#card-atalhos button[onclick="toggleAtalhos()"]:active{
  background-color: rgb(180, 180, 180) !important
}



.button-atalho-ativo,
.button-atalhos:active{
  background-color: rgb(170, 170, 170) !important;
  transform: translateY(2.5px);
  border-bottom: 0;
}

/* #lista-atalhos-simbolos li:nth-of-type(1) .button-atalhos{
  background-color: lime;
}
#lista-atalhos-comandos li:nth-of-type(1) .button-atalhos{
  background-color: lime;
} */