*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

aside{
  position: absolute;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100vh;
  background-color: rebeccapurple;
  transition: .5s;
}

main{
  padding: 12px 24px;
}