#grid {
  margin: 0 auto;
  display: grid;
  border-collapse: collapse;
  text-align: center;
  width: 250px;
  max-width: 94vw;
}
#grid strong{
  text-align: center;
  align-content: center;
  width: 100%;
}
#grid div {
  text-align: center;
  align-content: center;
  border: 1px solid black;
  background-color: #dedede;
  aspect-ratio: 1 / 1;
}

#teclado{
  margin: 8px 4px;
  justify-items: center;
  align-content: center;
  text-align: center;
}

#teclado-secao1,
#teclado-secao2 {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 70px));
  gap: 6px;
  align-content: center;

}

#teclado-secao2 {
  display: none;
}

#teclado-secao1 div,
#teclado-secao2 div {
  border: 2px solid lightgray;
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teclado-secao1 div:hover,
#teclado-secao2 div:hover{
  background-color:  rgb(255, 163, 82);
  border: 2px solid rgb(148, 148, 148);

  color: white;
}

.input-matriz-personalizada{
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  text-align: center;
  background: transparent;
  border-bottom: #bbb;
  color: black;
}

.input-matriz-personalizada:focus{
  border-bottom: #777;
}