div#container-regras{
  margin: 8px 4px;
}
div#container-regras input {
    box-sizing: content-box;
    height: 24px;
    border: 1px solid black;
    border-radius: 4px;
}

#linhas,
#colunas{
  width: 80px;
}

@media (max-width: 500px) {
  div#container-regras{
    display: flex;
    flex-wrap: wrap;
  }
}